= form_for [@conversation, @message], remote: true, html: {class: "MessageForm"} do |f|
  = f.text_field :body, placeholder: "Write your message..."
  = f.text_field :user_id, value: current_user.id, type: "hidden"
  = f.submit "Add Reply", class: "Button Button--red Button--sm"
