.u-container
  %h1 Mailbox
  .Mailbox
    %nav
      %ul
        - @friends.each do |friend|
          %li= link_to friend.name, conversations_path(sender_id: current_user.id, recipient_id: friend.id), method: 'post'

    %section
      - if params[:conversation_id]
        = render 'message_list'

      - else
        You don't have any conversations yet, open a new one by clickin on a friend in the right list!
