/* --------------------------
 * Base button
 * -------------------------- */

.Button {
  display: inline-block;
  padding: .4rem 1rem;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  transition: all .3s;

  &:hover{
   opacity:0.8;
  }

  &:hover, &:active, &:focus {
    color: white;
    text-decoration: none;
    outline: none;
  }
}

/* --------------------------
 * Button colors
 * -------------------------- */

@mixin button($color) {
  background: $color;

  &:active{
    background: lighten($color, 1%);
  }


}

.Button--green {
  @include button(#2ecc71);
}

.Button--blue {
  @include button(#3498db);
}

.Button--red {
  @include button(#e74c3c);
}

.Button--yellow {
  @include button(#f1c40f);
}


/* --------------------------
 * Button sizes
 * -------------------------- */

.Button {
  &--block {
    width: 100%;
  }

  &--lg {
    padding: 1rem 3rem;
  }
}
