/* --------------------------
 * Links
 * -------------------------- */

a {
	text-decoration: $link-decoration;
	color: $link-color;
  transition: all .3s;

	&:hover {
		text-decoration: $link-hover-decoration;
		color: $link-hover-color;
	}

	&:focus {
		color: $link-hover-color;
	}

	&:hover,
	&:active,
  &:focus {
		outline: 0;
	}
}
