.Home {
  background: rgba($background-primary, .8);
  text-align: center;
  position: relative;
  overflow: hidden;

  .home_img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  h1, h2 {
    font-family: $font-family-base;
    font-weight: normal;
    margin: 2rem 0;
  }

  h1 {
    color: $font-color-title;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  h2 {
    color: $font-color-subtitle;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-bottom: 8rem;
  }
}

.Home--alt {
  h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
  }
}

.image_text {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;

  .desc {
    margin: 0 1rem;
  }

  &--alt {
    @extend .image_text;
    flex-direction: row-reverse;
  }
}
