.Home {
  background: rgba($background-primary, .8);
  text-align: center;
  position: relative;
  overflow: hidden;

  .home_img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -200px;
  }

  h1, h2 {
    font-family: $font-family-base;
    font-weight: normal;
    margin: 2rem 0;
  }

  h1 {
    color: $font-color-title;
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: -1px;
  }

  h2 {
    color: $font-color-subtitle;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 300;
    margin-bottom: 8rem;
  }
}
