.u-container
  %header.Header
    %h1.Header-title My projects
    .Header-links
      =link_to new_project_path, class: "Button Button--black Button--xs" do
        =icon('plus')
        New project
  %section.ProjectList
    - @projects.each do |project|
      %article.Project
        %header
          %h1=link_to project.name, project
          .buttons
            =link_to edit_project_path(project), class: "Button Button--blue Button--xs" do
              =icon('pencil fa-fw')

            =link_to project_path(project), method: :delete, data: {confirm: "Are you sure?"}, class: "Button Button--red Button--xs" do
              =icon('trash fa-fw')
        %section
          %p
            =icon('github-alt')
            =link_to clean_url(project.url), project.url
          %p
            =icon('clock-o')
            Added on #{project.created_at.strftime('%b, %e %Y')}
