%footer.Footer
  %section
    =link_to root_path, class: "Logo" do
      =icon('diamond')
      Codeborative
    %p.legal Copyright (c) 2015 Copyright All Rights Reserved.
  %section.info
    #{icon('code')} with #{icon('heart')} by
    =link_to("@rubenmoya_", "http://twitter.com/@rubenmoya_")
