%section.Friendlist
  %header.Friendlist-header
    %h1.title
      =icon('users')
      Friends
    .options
      =icon('angle-up')
  %ol.Friendlist-body
    - current_user.friends.each do |friend|
      %li.Friendlist-contact
        =image_tag(friend.avatar, class: "avatar")
        .info
          = link_to friend.name, "#", class: "start-conversation", "data-sid" => current_user.id, "data-rip" => friend.id
