%nav.Navbar
  =link_to root_path, class: "Logo" do
    =icon('diamond')
    Codeborative

  %button.toggleMenu=icon('bars')

  %ul.Menu
    - if user_signed_in?
      %li=link_to "Search projects", projects_path
      %li#js-notifications
        %span.notifications#js-notifications-link
          =icon('bell')
          %span.notifications-count#js-notifications-unread-count 0

        %ul#js-notifications-items
          %li No notifications
      %li
        =link_to edit_user_registration_path do
          =current_user.name
          =icon('angle-down')
        %ul
          %li=link_to "Mailbox", user_messages_path(current_user.last_conversation)
          %li=link_to "Projects", user_projects_path
          %li=link_to "Friends", user_friends_path
          - if current_user.admin?
            %li=link_to "Admin panel", admin_root_path
          %li=link_to "Sign out", destroy_user_session_path, :method => :delete
    - else
      %li.TopMenu-item--border
        =link_to user_omniauth_authorize_path(:github) do
          =icon('github-alt')
          Connect with Github
