.u-container
  %video
  %button{onClick: "makeCall(#{@document.user_id == current_user.id ? @document.friend_id : @document.user_id })"} Asdsdsdsd
  %textarea.u-well{"data-channel" => "document", "data-document-id" => @document.id}
    =@document.text
