= form_for @project do |f|
  - if @project.errors.any?
    .alert.alert-danger
      %b
        = pluralize(@project.errors.count, "Error")
        prevented this project from being saved:

      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .input-group
    =f.label :name
    =f.text_field :name

  .input-group
    =f.label :url
    =f.text_field :url

  .input-group
    =f.label :description
    =f.text_area :description

  .input-group
    =f.label :tags_list
    =f.text_field :tags_list, id: 'js-tags', data: {selectize_value: @tag_list}

  .input-group
    =f.submit "Submit", class: "Button Button--red Button--block"
