.u-container
  .Profile.u-clear
    %section.Project--left
      =image_tag("https://pbs.twimg.com/profile_images/618422181454856192/CAseep-x.jpg", class: "Project-userpic")

      %h1=@user.name

      %ul.Project-usersocial
        %li
          =icon('envelope')
          =mail_to @user.email, @user.email

        - if @user.github.present?
          %li
            =icon('github-alt')
            =link_to clean_url(@user.github), @user.github
        - if @user.twitter.present?
          %li
            =icon('twitter')
            =link_to clean_url(@user.twitter), @user.twitter
        %li
          =icon('clock-o')
          Joined on #{@user.created_at.strftime('%b, %e %Y')}

    %section.Project--right
      .u-well
        %h1=@project.name
        %p
          =icon('github-alt')
          =link_to "View in github", @project.url
        - unless current_user == @user || current_user.are_friends(@user)
          %p
            =icon('user-plus')
            =link_to "Ask for joining the project", friendships_path(:friend_id => @user), :method => :post

        %h2 Description
        %div.Project-description
          =simple_format(@project.description)

        %h2 Technologies used
        - @project.tags.each do |tag|
          %span.Skill=tag.text
