<section class="u-container">
  <div class="u-well">
    <header class="u-clear">
      <select id="js-mode">
        <option value="html">HTML</option>
        <option value="javascript" selected>Javascript</option>
        <option value="php">PHP</option>
        <option value="ruby">Ruby</option>
        <option value="css">CSS</option>
      </select>
      <button class="Button Button--red Button--xs u-right" data-end-togetherjs-html="End TogetherJS" id="start-togetherjs" onclick="TogetherJS(this); return false" type="button">
        <%= icon('share-alt') %> Start TogetherJS
      </button>
    </header>
    <br>
    <pre id="editor">

var App = React.createComponent({
  getInitialState: function() {
    return {
      someState: true
    };
  }
});

    </pre>
  </div>
</section>

<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.session.setMode("ace/mode/javascript");
  editor.setAutoScrollEditorIntoView(true);
  editor.setOption("maxLines", 30);

  $('#js-mode').on('change', function() {
    editor.session.setMode("ace/mode/" + $('#js-mode').val());
  });

  TogetherJSConfig_dontShowClicks = true;
  TogetherJSConfig_includeHashInUrl = true;
  TogetherJSConfig_inviteFromRoom = false;
  TogetherJSConfig_suppressJoinConfirmation = true;
  TogetherJSConfig_getUserName = function () {return '<%= current_user.name %>';};
  TogetherJSConfig_getUserAvatar = function () {return '<%= current_user.avatar  %>';};
</script>

<script src="https://togetherjs.com/togetherjs-min.js"></script>
