:css
  #editor {
    width: 80%;
    max-width: 900px;
    position: absolute;
    top: 140px;
    right: 0;
    bottom: 50px;
    left: 0;
    margin: 0 auto;
  }

%section
  %button#start-togetherjs.Button.Button--red{"data-end-togetherjs-html" => "End TogetherJS", :onclick => "TogetherJS(this); return false", :type => "button"}
    Start TogetherJS
  #editor
    :plain
      // Your code here

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/tomorrow_night");
  editor.getSession().setMode("ace/mode/javascript");

  TogetherJSConfig_dontShowClicks = true;
  TogetherJSConfig_includeHashInUrl = true;
  TogetherJSConfig_inviteFromRoom = false;
  TogetherJSConfig_suppressJoinConfirmation = true;
  TogetherJSConfig_getUserName = function () {return '#{ current_user.name }';};
  TogetherJSConfig_getUserAvatar = function () {return '#{ current_user.avatar }';};

%script{:src => "https://togetherjs.com/togetherjs-min.js"}
