%section.Home
  =image_tag(asset_path("laptop.jpg"), class: "home_img")
  .u-container
    %h1 Improve your skills and learn new technologies
    %h2 Learn from the best developers and help them with their projects
    %section.HomeForm
      = form_tag '/search', method: :get do
        = text_field_tag "search[tags]", nil, placeholder: "Tags separated by comma", class: "HomeForm-input"
        = submit_tag "Search", class: "HomeForm-button"
%section.Home--alt
  .u-container
    %h1 What's codeborative
    %section.image_text
      =image_tag(asset_path("laptop.png"))
      %div.desc
        In <b>Codeborative</b> you can search for a mentor based on the <b>technology you want to learn</b>. In exchange, you’ll help him with his project, both of you win!
    %section.image_text--alt
      =image_tag(asset_path("like.png"))
      %div.desc Do you have a personal project and want to share your knowledge? Are you learning a new technology and looking for mentorship? Codeborative is your place!
