.Mailbox {
  display: flex;
  flex-direction: row;

  section {
    width: 70%;
  }

  nav {
    width: 30%;

    ul {
      background: white;
      border-radius: 4px;
      list-style: none;
      margin-right: 1rem;
      padding: .8rem .4rem;

      li {
        border-bottom: 1px solid #E8E8E8;

        &:last-child {
          border-bottom: 0px;
        }
      }

      li a {
        padding-left: 10px;
      }
    }
  }
}

.MessageList {
  height: calc(100vh - 350px);
  min-height: 250px;
  overflow-y: scroll;
  background: white;
  border: 1px solid lighten($font-color-subtitle, 20%);
  padding: .4rem .8rem;
  border-radius: 4px;
}

.MessageForm {
  margin-top: 1rem;
  position: relative;

  input[type="text"] {
    background: white;
    border: 1px solid lighten($font-color-subtitle, 20%);
    padding: .4rem .8rem;
    border-radius: 4px;
    width: 100%;
    padding: 10px 110px 10px 20px;

    &:focus {
      border: 1px solid $font-color-subtitle;
      outline: none;
    }
  }

  input[type="submit"] {
    top: 13px;
    position: absolute;
    right: 0;
  }

}

.Message {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lighten($font-color-subtitle, 15%);
  padding-bottom: 1.4rem;
  margin-top: 1.4rem;
  font-size: .85rem;

  &:last-child {
    border-bottom: 0px;
  }

  &-pic {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid lighten($font-color-subtitle, 15%);
  }

  &-body {
    margin-left: 1rem;
    max-width: 100%;

    h1 {
      font-size: 1rem;
      line-height: 1;
      margin: 0 0 .5rem 0;

      .date {
        font-size: .6rem;
        font-weight: normal;
      }
    }

    .text {
      padding: 0;
      word-break: break-word;
    }
  }
}
