body {
  font-family: $font-family-base;
  font-size: $font-size-root;
  line-height: $line-height;
  color: $font-color-secondary;
  background-color: $background;
}

.u-well {
  padding: 1rem 2rem;
  background: white;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  margin-bottom: 1.2rem;
}

.u-container {
  padding: $wrapper;

  &--sm {
    margin: 1rem calc(50% - 320px);
  }
}

.u-left {
  float: left;
}

.u-right {
  float: right;
}

.u-clear:after {
  content: "";
  display: table;
  clear: both;
}
